.form {
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
.button {
    border-radius: 50px;
    background-color: #fff;
    color: black;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 0.1rem;
    font-weight: bold;
}